body{
   background: linear-gradient(0deg, rgb(29 13 94), rgb(30 43 204));
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   min-height: 100vh;
   overflow: hidden;
}

.title{
   font-weight: 700;
   text-align: center;
   padding-top: 2rem;
   font-size: 7rem; 
   color: white;
}
.subtitle{
   text-align: center;
   font-size: 2.5rem; 
   color: white;
}

.subtitle.is-4 {
   color: black;
   font-weight: 600;
   padding-top: 1rem;
}
.credits{
   text-align: center;
}
.card{
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 1rem;

}
.subbtn{
   padding:1rem;
   display: flex;
   align-items: center;
   justify-content: center;
}
.button{
   font-weight: 650;
}
.button.is-link{
   background-color: #3244dc;
}

.logo-wrapper{
   display: flex;
   align-items: center;
   justify-content: center;
}

.check-wrap{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 1rem;
}
.ans-wrapper{
   display: flex;
   align-items: center;
   justify-content: center;
   padding-bottom: 1rem;
}
.answer-check{
   display: none;
}
.main-btn{
   display: flex;
   align-items: center;
   justify-content: center;
   gap:1rem;
}

.score-wrapper{
   display: flex;
   align-items: center;
   justify-content: center;
   padding:1rem;
   gap:0.5rem;
}
.end-btn{
   padding:1rem;
}
.notification{
   text-align: center;
}
.file-upload{
   display: flex;
   align-items: center;
   justify-content: center;
}

input[type="file"] {
   display: none;
}

.checkbox{
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}